*/*******************************Baslik************************************/*

.text-blue {
    background-color: blue;
    color: blue;
}
.text-purple {
    background-color: purple;
}
h1,h2 {
    color: 750E21;
    font-size: 26;
}
p {
    color: #191919;

}